<!DOCTYPE html>
<head>
    <html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    
    
    <!--Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <!-- chequear el orden de este link (copiado de una googlefonts) xq el href esta primero-->
    
    

    <!--Estilos-->
    <link rel="stylesheet" href="/public/CSS/normalize.css">
    <!-- chequear este normalize si esta bien linkeado y si en CSS tengo q poner algo-->
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/CSS/styles.css">
    <!-- esta puede ser otra manera aunq hay q cheuqearla <link rel="stylesheet" href="/public/CSS/Roboto/">-->
</head>
<body>
    <header>
        <h3>Login</h3>
    </header>
    <main>
        <form action="" method="post">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre">

            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido">

            <label for="usuario">Nombre de usuario</label>
            <input type="text" name="usuario" id="usuario">

            <label for="fecha">Fecha de nacimiento</label>
            <input type="text" name="fecha" id="fecha">

            <label for="domicilio">Domicilio</label>
            <input type="text" name="domicilio" id="domicilio">

            <label for="perfil">Perfil del usuario</label>
            <input type="radio" name="perfil-usuario" value="Comprar">

            <label for="perfil">Perfil del usuario</label>
            <input type="radio" name="perfil-usuario" value="Vender">

            <label for="interes">Categorías de interés</label>
            <input type="checkbox" name="categoria" value="Electro">
            <input type="checkbox" name="categoria" value="Moda">
            <input type="checkbox" name="categoria" value="Hogar">
            <input type="checkbox" name="categoria" value="Juguetería">
            <input type="checkbox" name="categoria" value="Vida sana">


        </form>
    </main>
</body>


</html>