*{
    font-size: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --yellow:#EAC926;
    --dark-blue: #03264C;
    --light-blue: #1259c3;
    --gray: #666;
    --light-gray: #ebebeb;
    --green: #39b54a;
}

body{
    width: 100vw;
    font-family:'Roboto', sans-serif;
}

/*HEADER*/
header{
    height: 20px;
    text-align: center;
    background-color: var(--yellow);
}
h3{

    
    
}

main {
    display: flex;
    width: 100%;
    background-color: var(--light-gray);
    text-align: left;
    margin: 20px 20px;
}
main div{
    font-weight: bold;
    padding: 2px;
}
main input {
    font-family: inherit;
}