*{
    font-size: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --yellow:#EAC926;
    --dark-blue: #03264C;
    --light-blue: #1259c3;
    --gray: #666;
    --light-gray: #ebebeb;
    --green: #39b54a;
}

body{
    width: 100vw;
    font-family:'Roboto', sans-serif;
}

/*HEADER*/
header{
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--yellow);
}
.logo{
    padding: 10px 5px 10px 15px;
    width: 25%;
}
.register{
    font-size: 3vmin;
}


/**********MAIN**********/
.main-upper{
    width: 95%;
    margin: 2px 10px;
    padding: 5px;
}
h1{
    margin: 0;
}
.main-bottom {
    display: flex;
    width: 95%;
    background-color: var(--light-gray);
    text-align: left;
    margin: 1px 10px 10px 10px;
    padding: 5px;
    border: solid 2px #666;
    font-size: 20%;
}

main div{
    font-weight: bold;
    padding: 2px 0;
    margin: 2px;
}

main input {
    font-family: inherit;
    margin: 1px;
}
.radio{
    max-width: 7px;
    padding: O;
}
h3{
    margin: 5px 5px 5px 0px;
}

.fecha{
    display: flex;
    align-items: center;
}

.enviar-home{
    background-color: rgb(4, 4, 184) ;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.enviar-home a{
    text-decoration: none;
    color: white;
}


/*******FOOTER********/
footer{
    margin: 10px;
}




/*******MEDIA QUERIES**********/


/*********TABLETS*************/

@media(min-width: 424px){



.radio{
    max-width: 9px;
    padding: O;
}
}



/*********LAPTOPS************/

@media(min-width: 767px){
    *{
        font-size: 1.2vw;
      }


      
    .radio{
        max-width: 15px;
        padding: O;
    }

    }